@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@0;1&display=swap');

.ubuntu regular {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.ubuntu regular-italic {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-style: italic;
}
li, a, button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-style: normal;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;  
    margin: 0%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
    background-color: rgb(255, 255, 255);
}
header a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        margin: 0.5em;
        transition: all 0.3s ease 0s;
}
.logo {
    width: 15%;
    cursor: pointer;
}
.search {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    width: 100%;
    max-width: 700px;
}
input {
    padding: 10px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    box-shadow: 0 5px 8x 3px black;
}
input:focus {
    outline: none;
}
.sb{
    width: 40px;
    height: 100%;
    border: none;
    cursor: pointer;
    background: transparent;
    font-size: 16px;
}
.sb i{
    color: none;
}
.sb i:hover{
    color: rgba(0, 0, 0, 0.6);
}
.instagram, .facebook {
    color: rgb(0, 0, 0);
}

nav li, form {
    display: inline-block;
}

footer nav ul {
    text-align: right;
}    

main nav {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1em;
    background-color: rgb(128, 0, 0)
}

main nav li a {
    padding: 1em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0.5em;
    transition: all 0.3s ease 0s;
}

main nav li a:hover {
    background-color: rgb(118, 0, 0);
}
main div#content {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
}
section {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5em;
    margin: 1em;
    padding: 1em;
}

p { color: black; }

h1 {
    background-color: rgb(128, 0, 0);
    padding: 1em;
    border: 5px solid rgb(200, 38, 38);
    text-align: center;
    font-size: 200%;
    color: rgb(255, 255, 255); }
h2 { color: rgb(0, 0, 0);}
table { 
    font-size: 150%;
    width: 100%;
    margin: 0.5em;
}
thead td, thead th {
    border-width: 2px;
    font-weight: normal;
}
td, th {
    text-align: left;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 0.5em;
}
@media screen and (max-width: 600px) {
header nav li, form { display: block;}
} 
.spenden {
    color: white;
    background-color: rgba(60, 60, 60,1);
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    transition: .3s ease all;
    cursor: pointer;
} 
.spenden:hover {
    background-color: rgba(60, 60, 60,0.8);
    transform: translateY(-1.5px);
}