
body {
    font-family: system-ui;
    width: 90%;  
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}
header {
    background-color: silver;
}
header img { 
    float: left;
    margin: 0.5em;

}
nav li, form {
    display:inline;
}
header, footer nav ul {
    text-align:right;
}            
main {
    display: flex;
}
main nav {
    width: 20%;
    background-color: silver;
}
main nav li {
    display:block;
}
main nav li a {
    line-height: 1.5em;
}            
main nav ul {
    padding:0%;
}
main div#content {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
}
section {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5em;
    margin: 1em;
    padding: 1em;
}
input {
    height: 2em;
    padding: 0.5em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5em;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0.5em;
}
a:hover {
    color: rgb(175, 38, 38);
}
p { color: black; }
h1 {
    background-color: rgb(128, 0, 0);
    padding: 1em;
    border: 5px solid rgb(200, 38, 38);
    text-align: center;
    font-size: 200%;
    color: rgb(255, 255, 255); }
h2 { color: rgb(128, 0, 0);}
table { 
    font-size: 150%;
    width: 100%;
    margin: 0.5em;
}
thead td, thead th {
    border-width: 2px;
    font-weight: normal;
}
td, th {
    text-align: left;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 0.5em;
}
@media screen and (max-width: 600px) {
header nav li, form { display: block;}
} 
button {
    background-color: silver;
    transition: .3s ease all;
}

button:hover {
    background-color: rgb(142, 142, 142);
    transition: .3 ease all;
    transform: translateY(-3px);
}                   