@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@0;1&display=swap');

.ubuntu regular {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.ubuntu regular-italic {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-style: italic;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 600px) {
    header nav li, form { display: block;}
    }

li, a, button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

body {
    width: 100%;  
    margin: 0%;
    line-height: 2em;
    font-size: large;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
    background-color: rgb(255, 255, 255);
}
header a {
        color: rgb(0, 0, 0);
        margin: 0.5em;
        transition: all 0.3s ease 0s;
}
.logo {
    width: 15%;
    cursor: pointer;
}
.search {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    width: 100%;
    max-width: 700px;
}
input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    box-shadow: 0 5px 8x 3px black;
}
input:focus {
    outline: none;
}
.sb{
    width: 40px;
    height: 100%;
    border: none;
    cursor: pointer;
    background: transparent;
    font-size: 16px;
}
.sb i{
    color: none;
}
.sb i:hover{
    color: rgba(0, 0, 0, 0.6);
}
.instagram, .facebook {
    color: rgb(0, 0, 0);
}

nav li, form {
    display: inline-block;
}

footer {
    background-color: rgb(128, 0, 0);
    height: 150px;
}
footer nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}    
footer a {
    color: rgb(255, 255, 255);
    margin: 5em;
    transition: all 0.3s ease 0s;
}

main nav {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0.6em;
    background-color: rgb(128, 0, 0);
}

main nav li a {
    padding: 1em;
    color: rgb(255, 255, 255);
    margin: 0.5em;
    transition: all 0.3s ease 0s;
}

main nav li a:hover {
    background-color: rgb(108, 0, 0);
}
main div#content {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    justify-content: center;
}
section {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5em;
    margin: 1em;
    padding: 1em;
}

p { color: black; }

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
}
h1 {
    background-color: rgb(128, 0, 0);
    padding: 1em;
    border: 5px solid rgb(200, 38, 38);
    justify-content: center;
    font-size: 200%;
    color: rgb(255, 255, 255); 
}
h2 {
    background-color: rgb(128, 0, 0);
    padding: 1em;
    border: 5px solid rgb(200, 38, 38);
    justify-content: center;
    font-size: 200%;
    color: rgb(255, 255, 255); 
}
.aufruf {
    background-color: rgb(128, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.25em;
    padding: 0.5em;
    justify-content: center;
    font-size: 150%;
    transition: all 0.3s ease 0s;
}
.aufruf a {
    color: white;
}
.aufruf:hover {
    background-color: rgb(108, 0, 0);
    transform: translateY(-1.5px);
}
table { 
    font-size: 150%;
    width: 100%;
    margin: 0.5em;
}
thead td, thead th {
    border-width: 2px;
    font-weight: normal;
}
td, th {
    text-align: left;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 0.5em;
}

.spenden {
    align-items: center;
    color: white;
    background-color: rgb(128, 0, 0);
    margin: 1em;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    transition: .3s ease all;
    cursor: pointer;
} 

.spenden:hover {
    background-color: rgb(108, 0, 0);
    transform: translateY(-1.5px);
}

.Spende {
    margin: 0.5em;
}

.Spende input {
    color: black;
    border: 1px solid black;
    border-radius: 0.25em;
    padding: 0.2em;
}

.crisis {
    margin: 2em;
}

select option{
    font-size: large;
}